<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="psRadarDirect.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <psRadarDirect.Properties.Settings>
            <setting name="SonarrAPIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="SonarrPort" serializeAs="String">
                <value />
            </setting>
            <setting name="PlexUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="PlexPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="PrivateToken" serializeAs="String">
                <value />
            </setting>
            <setting name="NeedUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlexPort" serializeAs="String">
                <value />
            </setting>
            <setting name="DirectPort" serializeAs="String">
                <value />
            </setting>
            <setting name="PublicToken" serializeAs="String">
                <value />
            </setting>
            <setting name="SonarrUsesSSL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoStartUp" serializeAs="String">
                <value>False</value>
            </setting>
        </psRadarDirect.Properties.Settings>
    </userSettings>
</configuration>