BODY {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	margin: 5px 5px;
	padding: 5px;
}

BLOCKQUOTE {
	border-left: 5px solid #DDDDDD;
	border-top: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	padding: 5px;
	margin: 0px 0px 0px 0px;
	background-color: #F0F9FF;
}

A {
	text-decoration: none;
	color: blue;
}
A:HOVER {
	text-decoration: underline;
	color: blue;
}

PRE, CODE {
	font-family: monospace;
	font-size: 13px;
	margin: 0px;
	padding: 0px;
}

CODE {
	background-color: #F0F9FF;
}

HR {
	border: 0px;
	background-color: #ccc;
	height: 2px;
}

DIV {
	padding: 5px;
}

H1 {
	/* font-family: "Courier New", Courier, monospace; */
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
}

H2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	margin: 0px;
	line-height: 1;
}

IMG {
	border: 0px;
}

UL, OL {
	margin: 0px 10px;
	padding: 0px 10px;
}

LI {
	padding: 2px 0px;
	text-indent: -5px;
}

.a_last_updated {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: italic;
}

.search_txt {
	width: 178px;
}
.search_txt:FOCUS {
	outline: none;
}

.search_btn {
	font-weight: bold;
	font-size: 13px;
}
.search_btn:HOVER {
	box-shadow: 2px 2px 5px #888888;
	cursor: pointer;
}

.search_txt, .search_btn {
	border: 1px solid #999;
	background-color: #fff;
	border-radius: 5px;
	padding: 5px;
}

.confirm_dl_button {
	border: 1px solid #999;
	background-color: #fff;
	border-radius: 5px;
	padding: 2px 5px;
}
.confirm_dl_button:HOVER {
	cursor: pointer;
	box-shadow: 2px 2px 5px #888888;
}

#productImgBox {
	float: left;
	border: 0px solid #ccc;
	margin-left: 120px;
	margin-top: -5px;
	width: 50px;
	height: 50px;
}

#a_links .NextPrevLinks {
	display: inline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	border: none;
}

#a_links A {
	font-size: 21px;
	line-height: 50px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	display: block;
	border: 0px solid #999;
	border-radius: 10px;
}
#a_links .productlinks {
	border: 0px solid #999;
	margin: 0px 50px 0px 190px;
	padding-left: 10px;
	text-align: left;
}

#a_list_link {
	font-style: italic;
}
.a_list_link_dj {
	color: #000;
}

#a_header {
	border-bottom: 1px solid #999;
}
#a_header A {
	display: inline;
	border-radius: 0px;
	border: 0px;
	margin: 0px;
	padding: 2px 0px;
}
#a_header A:HOVER {
	text-decoration: underline;
}

#a_footer {
	font-size: 11px;
}

#footer {
	font-size: 11px;
}

#main {
	margin: 5px auto;
	width: 500px;
	min-width: 500px;
	text-align: center;
	border-radius: 20px;
	border: 0px solid #000;
	background-color: #fff;
}

.f_r_parts {
	padding: 2px;
	margin: 3px auto;
	width: 245px;
	border: 0px solid #ccc;
	border-radius: 5px;
	line-height: 20px;
	text-align: left;
	background-color: #F0F9FF;
	font-size: 12px;
	text-align: center;
	font-family: Arial;
}

#search_kwlist_wrapper {
	position: relative; 
	width:250px; 
	border: 0px dashed #000;
	padding: 0px;
	margin:0px auto 0px auto;
}

#search_kwlist {
	display: none;
	position: absolute;
	width: 95%;
	height: auto;
	margin: 0px auto 0px auto;
	background-color: #fff;
	border: 1px solid #000;
	border-radius: 5px;
	text-align: left;
}