BODY {
	background-color: #fff;
	margin: 0px;
	padding: 0px;
	font-family: Verdana;
	font-size: 12px;
}
H1 {
	margin: 0px;
	padding: 0px;
	font-size: 24px;
}

#SwapPlexCalContainer {
	position: absolute;
	top: 10px;
	right: 10px;
	text-align: right;
}
#SwapPlexCalContainer A {
	color: blue;
	text-decoration: none;
}
#SwapPlexCalContainer A:HOVER {
	text-decoration: underline;
}

#Main {
	background-color: #fff;
	/*margin: 0px auto 0px auto;*/
}
#Header {
	padding: 20px 20px 0px 20px;
}
#Content {
	background-color: #fff;
	padding: 20px;
	color: #000;
}
#Content .FormText {
	color: #000;
	display: inline-block;
	width: 150px;
	text-align: right;
}
#Content .newpass {
	border: 1px solid #000;
	border-radius: 5px;
	padding: 5px;
}
#Content TABLE.PlexActivityList {
	border: 2px solid #0c2e82;
	border-radius: 5px;
	padding: 5px;
	width: 100%;
}
#Content TABLE.PlexActivityList TD {
	text-align: center;
	padding: 5px;
}
#Content TABLE.PlexActivityList TD.Headers {
	border-bottom: 2px solid #0c2e82;
	font-weight: bold;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}
#Content A {
	font-weight: bold;
	color: #0c2e82;
	text-decoration: none;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	display: block;
	margin-bottom: 5px;
}
#Content A:HOVER {
	text-decoration: underline;
}
#Footer {
	clear: both;
	padding: 20px;
	color: #696969;
	text-align: center;
}
#Footer A {
	text-decoration: none;
	color: #696969;
}
#Footer A:HOVER {
	text-decoration: underline;
}

#HWinfo {
	font-size: 13px;
	font-family: Verdana;
	color: #000;
}

#PlexContainer {
	position: relative;
	border: 0px solid #ccc;
	margin-right: 5px;
}
#PlexContainer .PlexActivityContainer {
	border-top: 0px;
	border-right: 0px;
	border-bottom: 0px;
	border-left: 5px;
	border-style: solid;
	border-color: #999;
	border-radius: 10px;
	padding: 0px 10px;
}
#PlexContainer .PlexActivityContainerNowPlayed {
	border-color: #0c2e82 !important;
	border-radius: 0px !important;
}

#PlexContainerTopLists {
	border: 0px dashed #ccc;
}

#MostPopularContainerActivities {
	margin: 0px 10px 30px 0px;
}
 
#MostPopularContainerUsers {
	margin-bottom: 20px;
}
#MostPopularContainerUsers A {
	display: inline;
	font-weight: normal;
	text-decoration: underline;
}

.PlexUserActivityLayer {
	border: 1px solid #999;
	border-radius: 5px;
	margin: 10px 0px 20px 10px;
	padding: 5px;
}

.plex-ui-graph-link {
	color: blue; 
	font-size: 13px; 
	text-decoration:none; 
	cursor:pointer;
}

.HeaderImg1 {
	margin-right: 20px;
	float: left;
	vertical-align: middle;
}
.HeaderText1 {
	vertical-align: middle;
	font-size: 24px;
	font-weight: bold;
	font-family: Arial;
	color: #0c2e82;
}
.HeaderText2 {
	font-size: 14px;
	color: #000;
	font-family: Arial;
}
.ContentHeader1 {
	color: #000;
	font-size: 22px;
	font-family: Arial;
}
.PlexUiPlayer {
	font-size: 18px;
	font-family: Arial;
}
.PlexUiSeasonEpisode {
	font-size: 14px;
	font-style: italic;
	font-weight: bold;
}
.MiniHeader1 {
	font-size: 14px;
	font-weight: bold;
	font-family: Arial;
	color: #0c2e82;
}
.now-playing-header {
	font-size: 24px;
	font-weight: bold;
	font-family: Arial;
	color: #0c2e82;
}
.error {
	font-family: "Lucida Console", Monaco, monospace;
	color: red;
}


/* Graf.js */
#Grafs {
	width: 100%;
}

/* CPU Graf */
#Graf0 {
	padding: 0px;
	margin: 0px;
	border: 2px solid #333;
	border-radius: 10px;
}

#GrafTimeline0 {
	padding: 0px;
	margin: 0px;
}
#GageBox0 {
	
}

/* GPU Graf */
#Graf1 {
	padding: 0px;
	margin: 0px;
	border: 2px solid #333;
	border-radius: 10px;
}

#GrafTimeline1 {
	padding: 0px;
	margin: 0px;
}
#GageBox1 {
	
}